.point {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  transition: all .8s ease-in-out;
  opacity: 0;
}

.point .name {
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 22px;
}

.point .percent {
  font-size: .5em;
}

.component-point-load .point {
  opacity: 1;
  transform: scale(1);
}

.component-point-leave .point {
  opacity: 0;
  transform: scale(.1);
}